/// Imports
@use '../util' as *;

/// Angular styles
:root:root {
	@include css-var(--mat-table-background-color, $mat-table-bg);
	@include css-var(--mat-paginator-container-background-color, $mat-table-bg);
	@include css-var(--mat-table-row-item-label-text-color, $mat-table-fore);
	@include css-var(--mat-table-header-headline-color, $mat-table-fore);
	@include css-var(--mat-table-header-subheadline-color, $mat-table-fore);
	@include css-var(--mat-paginator-container-text-color, $mat-table-fore);
}

.cdk {
	&-overlay-container {
		.mat-mdc-select-panel {
			background: css-var($mat-select-bg);
		}
	}
}

body {
	&#{class(ready)} {
		app-root {
			opacity: 1;
		}
	}
}

router-outlet {
	display: none;
}

app-root {
	display: block;
	position: relative;
	opacity: 0;
	transition: opacity 750ms ease-in;
}

:root {
	main {
		& > router-outlet {
			flex-grow: 0;

			& + * {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex-grow: 1;
				width: 100%;

				&+:not(#{prefix(partial-footer)}) {
					height: 0;
					overflow: hidden;
				}
			}

			& + #{prefix(partial-footer)} {
				transform: translateY(100vh);
			}
		}
	}
}
