/// _aspect.scss - Apect Ratios
/// @author App Art Mint LLC
///
/// @group Aspect
@charset 'utf-8';

/// Imports
@use 'sass:math';
@use '../util' as *;

/// Aspect Ratios
#{class(aspect)} {
	position: relative;
	height: 0;
	overflow: hidden;

	iframe, video {
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		width: 100% !important;
		height: 100% !important;
	}
}

$width: 16;
$height: 9;
#{class($width + '-' + $height)} {
	@extend #{class(aspect)};
	padding-top: math.div($height, $width) * 100% !important;
}
