/// Imports
@use '../util' as *;

/// Global styles
* {

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	overflow-x: hidden;
}

html,
body {
	color: css-var(fore);
	background-color: css-var(back);
	min-height: 100vh;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	&#{class(fixed)} {
		#{id(header)} {
			position: fixed;
			top: 0;
			left: 0;
		}

		main {
			min-height: 100vh;
			padding-top: css-var(header-height);
		}
	}

	&#{class(ready)} {
		app-root {
			opacity: 1;
		}
	}
}

app-root {
	display: block;
	position: relative;
	opacity: 0;
	transition: opacity 750ms ease-in;
	
	@if (type-of($root-bg-image) == 'string') {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url($root-bg-image);
			
			@if (type-of($root-bg-filter) == 'string' or type-of($root-bg-filter) == 'list') {
				filter: $root-bg-filter;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: calc(100vh - css-var(header-height));
	overflow: hidden;
	z-index: 1000;

	&>router-outlet {
		flex-grow: 0;
		
		&+* {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-grow: 1;
			width: 100%;
			padding: 0.25rem;

			@include fluid(padding, map-get($break, xs) * 1px, map-get($break, sm) * 1px, 4px, 16px);

			&+:not(#{prefix(footer-partial)}) {
				height: 0;
				overflow: hidden;
			}
		}
	}
}

nav {
	a {
		display: block;
		text-decoration: none;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		&>li>ul {
			flex-direction: column;
		}
	}
}

a {

	&[href^='mailto:'],
	&[href^='tel:'],
	&[href^='sms:'] {
		@include break (xs) {
			white-space: nowrap;
		}
	}
}

button,
a[routerLink] {
	cursor: pointer;
}

a,
button {
	font-size: inherit;

	&[disabled] {
		filter: grayscale(1) brightness(0.75) !important;
		pointer-events: none !important;

		&#{class(fall-in)}#{neg(class(show))} {
			filter: grayscale(1) brightness(0.75) opacity(0%) !important;
		}
	}

	i {
		&:first-child {
			margin-right: 0.5em;
		}

		&:last-child {
			margin-left: 0.5em;
		}
	}
}

img,
video {
	width: 100%;
	height: auto;
}

iframe {
	border: none;
}

#{class(glow)} {
	box-shadow: 0 0 2rem -0.5rem css-var(glow-2);
}

#{class(noglow)} {
	box-shadow: none !important;
}

#{class(sr-only)} {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;
}

#{class(list)} {
	list-style: none;
	margin: 0;
	padding: 0;
}