/// Imports
@use '../util' as *;

/// Grid mixins
@mixin grid-2 {
	@include break(sm) {
		grid-template-columns: repeat(12, 1fr);

		& > * {
			#{class(card)} {
				grid-column: span 6;
			}
		}
		
		& > :last-child:nth-child(odd) {
			#{class(card)} {
				grid-column: span 12;
				width: 50%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

@mixin grid-3 {
	@include break(lg) {
		grid-template-columns: repeat(12, 1fr);

		& > * {
			#{class(card)} {
				grid-column: span 4;
			}
		}

		& > :last-child:nth-child(odd) {
			#{class(card)} {
				grid-column: span 4;
				width: 100%;
			}
		}

		& > :last-child:nth-child(#{'3n+1'}) {
			#{class(card)} {
				grid-column: 4 / span 6;
			}
		}

		& > :last-child:nth-child(#{'3n+2'}) {
			#{class(card)} {
				grid-column: 7 / span 6;
			}
		}

		& > :nth-last-child(2):nth-child(#{'3n+1'}) {
			#{class(card)} {
				grid-column: 1 / span 6;
			}
		}
	}
}

@mixin grid-4 {
	@include break(xl) {
		grid-template-columns: repeat(12, 1fr);

		& > * {
			#{class(card)} {
				grid-column: span 3;
			}
		}

		& > :last-child:nth-child(odd),
		& > :last-child:nth-child(#{'3n+1'}),
		& > :last-child:nth-child(#{'3n+2'}),
		& > :nth-last-child(2):nth-child(#{'3n+1'}) {
			#{class(card)} {
				grid-column: span 3;
				width: 100%;
			}
		}

		& > :last-child:nth-child(#{'4n+1'}) {
			#{class(card)} {
				grid-column: 4 / span 6;
			}
		}

		& > :last-child:nth-child(#{'4n+2'}) {
			#{class(card)} {
				grid-column: 7 / span 6;
			}
		}

		& > :nth-last-child(2):nth-child(#{'4n+1'}) {
			#{class(card)} {
				grid-column: 1 / span 6;
			}
		}

		& > :last-child:nth-child(#{'4n+3'}) {
			#{class(card)} {
				grid-column: 9 / span 4;
			}
		}

		& > :nth-last-child(2):nth-child(#{'4n+2'}) {
			#{class(card)} {
				grid-column: 5 / span 4;
			}
		}

		& > :nth-last-child(3):nth-child(#{'4n+1'}) {
			#{class(card)} {
				grid-column: 1 / span 4;
			}
		}
	}
}

/// Grid styles
#{class(grid)} {
	display: grid;
	grid-template-columns: 1fr;
	gap: $grid-gap;
	width: 100%;
	margin-top: $grid-gap;
	margin-bottom: $grid-gap;

	&#{class('2')} {
		@include grid-2;
	}

	&#{class('3')} {
		@include grid-2;
		@include grid-3;
	}

	&#{class('4')} {
		@include grid-2;
		@include grid-3;
		@include grid-4;
	}

	#{class(portrait)} {
		grid-row: span 2;
	}

	#{class(landscape)} {
		@include break(sm) {
			grid-column: span 12;
		}
	}
}
