/// _inputs.scss - Input styles
/// @author App Art Mint LLC
///
/// @group Inputs
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Input Styles
input,
textarea,
select {
	width: 100%;
	padding: 0.5rem;
	border: 2px solid #ccc;
	border-radius: $border-radius;
}

select {
	@include break(xs) {
		width: auto;
	}
}

textarea {
	resize: vertical;
}

/// Checkbox Styles
#{class(toggle)} {
	display: flex;
	align-items: center;
	gap: 1rem;
	
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		@include break(xs) {
			flex-direction: row;
		}
	}
}

#{class(check)} {
	$padding: 0.25rem;
	$height: 1.5rem;
	$border-width: 0.125rem;
	$width: ($height - $padding) * 2;
	position: relative;
	display: inline-block;
	flex-shrink: 0;
	height: $height + $border-width * 2;
	width: $width + $border-width * 2;
	border: $border-width solid css-var(brand-2);
	border-radius: $border-radius;
	background-color: css-var(brand-5);
	cursor: pointer;

	[type="checkbox"] {
		display: none;

		&:checked {
			

			& + span {
				left: calc(100% - #{$height - $padding});
				background-color: css-var(brand-2);
				filter: grayscale(0);
			}
		}

		& + span {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: $padding;
			left: $padding;
			transform: translateX(0);
			width: $height - $padding * 2;
			height: $height - $padding * 2;
			background-color: css-var(brand-4);
			border-radius: $border-radius;
			filter: grayscale(1);
			transition: filter 300ms, background-color 300ms, left 300ms;
		}
	}

	& + span {
		width: 1.5rem;
		text-align: center;
	}
}

/// Dropdown Styles
#{class(dropdown)} {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	@include break(xs) {
		gap: 1rem;
	}
}


/// Label Styles
#{class(error)} {
	line-height: 0;
	filter: opacity(0);
	transition: filter 0.3s;

	&.mint-show {
		filter: opacity(1);
	}
}