/// Imports
@use 'sass:map';
@use '../util' as *;

/// Structure styles
#{class(pad)} {
	@include box-util(padding, 1rem);
	@include break-util(padding, 0.5rem, 0);

	@include break(xs) {
		@include break-util(padding, 1rem, 0);
	}
}

#{class(margin)} {
	@include box-util(margin, 1rem);
	@include break-util(margin, 0.5rem, 0);

	@include break(xs) {
		@include break-util(margin, 1rem, 0);
	}
}

#{class(hide)} {
	@include break-util(display, initial, none);
}

#{class(max)} {
	@each $size in map.keys($break) {
		&-#{$size} {
			width: 100%;
			max-width: break($size);
			
			&:not(#{class(left)}) {
				margin-left: auto;
			}

			&:not(#{class(right)}) {
				margin-right: auto;
			}
		}
	}
}

#{class(center)} {
	align-items: center;
	justify-content: center;
	text-align: center;

	&-down {

		&,
		& * {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

#{class(fit)} {
	width: fit-content;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#{class(left)} {
	float: left;
}

#{class(right)} {
	float: right;
}
