/// Imports
@use '../util' as *;

/// Structure styles
#{class(pad)} {
    @include break-util(padding, 1rem, 0);
}

#{class(margin)} {
    @include break-util(margin, 1rem, 0);

    &-auto {
        margin-left: auto;
        margin-right: auto;

        &-v {
            margin: 1rem auto;

            @for $i from 0 through 6 {
                &#{$i} {
                    margin: 1rem * $i auto;
                }
            }
        }

		&-t {
			margin-top: 1rem;
			margin-left: auto;
        	margin-right: auto;

			@for $i from 0 through 6 {
                &#{$i} {
                    margin-top: 1rem * $i;
					margin-left: auto;
        			margin-right: auto;
                }
            }
		}

		&-b {
			margin-bottom: 1rem;
			margin-left: auto;
        	margin-right: auto;

			@for $i from 0 through 6 {
                &#{$i} {
                    margin-bottom: 1rem * $i;
					margin-left: auto;
        			margin-right: auto;
                }
            }
		}
    }

    &-v {
        margin-top: 1rem;
		margin-bottom: 1rem;

        @for $i from 0 through 6 {
            &#{$i} {
                margin-top: 1rem * $i;
				margin-bottom: 1rem * $i;
            }
        }
    }

	&-t {
		margin-top: 1rem;

		@for $i from 0 through 6 {
			&#{$i} {
				margin-top: 1rem * $i;
			}
		}
	}

	&-b {
		margin-bottom: 1rem;

		@for $i from 0 through 6 {
			&#{$i} {
				margin-bottom: 1rem * $i;
			}
		}
	}

    &-h {
        margin-left: 1rem;
		margin-right: 1rem;

        @for $i from 0 through 6 {
            &#{$i} {
                margin-left: 1rem * $i;
				margin-right: 1rem * $i;
            }
        }
    }

	&-l {
        margin-left: 1rem;

        @for $i from 0 through 6 {
            &#{$i} {
                margin-left: 1rem * $i;
            }
        }
    }

	&-r {
		margin-right: 1rem;

        @for $i from 0 through 6 {
            &#{$i} {
				margin-right: 1rem * $i;
            }
        }
    }
}

section {
	width: 100%;

    &#{class(smaller)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(xs);
    }

    &#{class(small)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(sm);
    }

    &#{class(default)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(md);
    }

    &#{class(big)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(lg);
    }

    &#{class(bigger)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(xl);
    }
}

#{class(center)} {
    align-items: center;
    justify-content: center;
    text-align: center;

	&-down {
		&, & * {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

#{class(grid)} {
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid-gap;
    margin: $grid-gap 0;

	& > * {
		margin: 0;
	}

    &#{class('2')} {
        @include break(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &#{class('3')} {
        @include break(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include break(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &#{class('4')} {
        @include break(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include break(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include break(xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    #{class(portrait)} {
        grid-row: span 2;
    }
}

#{class(fit)} {
	width: fit-content;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
}
