/// Imports
@use 'sass:map';
@use '../util' as *;

/// Structure styles
#{class(pad)} {
	@include box-util(padding, 1rem);
	@include break-util(padding, 0.5rem, 0);

	@include break(xs) {
		@include break-util(padding, 1rem, 0);
	}
}

#{class(margin)} {
	@include box-util(margin, 1rem);
	@include break-util(margin, 0.5rem, 0);

	@include break(xs) {
		@include break-util(margin, 1rem, 0);
	}
}

#{class(max)} {
	@each $size in map.keys($break) {
		&-#{$size} {
			width: 100%;
			max-width: break($size);
			margin-left: auto;
			margin-right: auto;
		}
	}
}

section {
	width: 100%;

	&#{class(smaller)} {
		margin-left: auto;
		margin-right: auto;
		max-width: break(xs);
	}

	&#{class(small)} {
		margin-left: auto;
		margin-right: auto;
		max-width: break(sm);
	}

	&#{class(default)} {
		margin-left: auto;
		margin-right: auto;
		max-width: break(md);
	}

	&#{class(big)} {
		margin-left: auto;
		margin-right: auto;
		max-width: break(lg);
	}

	&#{class(bigger)} {
		margin-left: auto;
		margin-right: auto;
		max-width: break(xl);
	}
}

#{class(center)} {
	align-items: center;
	justify-content: center;
	text-align: center;

	&-down {

		&,
		& * {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

#{class(grid)} {
	display: grid;
	grid-template-columns: 1fr;
	gap: $grid-gap;
	margin-top: $grid-gap;
	margin-bottom: $grid-gap;

	&>* {
		margin: 0;
	}

	&#{class('2')} {
		@include break(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&#{class('3')} {
		@include break(sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include break(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&#{class('4')} {
		@include break(sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include break(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include break(xl) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	#{class(portrait)} {
		grid-row: span 2;
	}
}

#{class(fit)} {
	width: fit-content;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#{class(left)} {
	float: left;
}

#{class(right)} {
	float: right;
}