/// _flex.scss - Flex section styles
/// @author App Art Mint LLC
///
/// @group Section
@charset 'utf-8';

/// Imports
@use '../../util' as *;

/// Flex Section Styles
#{class(flex)} {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: css-var(flex-gap);

	&#{class(row)} {
		&-reverse {
			flex-direction: row-reverse;
		}
	}

	&#{class(column)} {
		flex-direction: column;

		&-reverse {
			flex-direction: column-reverse;
		}
	}
	
	&#{class(wrap)} {
		flex-wrap: wrap;

		&-reverse {
			flex-wrap: wrap-reverse;
		}
	}

	&#{class(center)} {
		justify-content: center;
	}

	&#{class(end)} {
		justify-content: flex-end;
	}

	&#{class(between)} {
		justify-content: space-between;
	}

	&#{class(around)} {
		justify-content: space-around;
	}

	&#{class(evenly)} {
		justify-content: space-evenly;
	}

	&#{class(align)} {
		&-start {
			align-items: flex-start;
		}

		&-end {
			align-items: flex-end;
		}
	}
}
