/// _amplify.scss - Amplify styles
/// @author App Art Mint LLC
/// 
/// @group Overrides
@charset 'utf-8';

/// Imports
@use '../util' as *;
@use '../components/buttons';
@use '../components/cards';

/// Amplify Styles
:root:root {
	@include css-var-ref(--amplify-colors-background-error, $amp-background-error);
	@include css-var-ref(--amplify-colors-border-primary, $amp-border-primary);
	@include css-var-ref(--amplify-colors-border-focus, $amp-border-focus);
	@include css-var-ref(--amplify-colors-font-hover, $amp-font-hover);
	@include css-var-ref(--amplify-colors-font-interactive, $amp-font-interactive);
	@include css-var-ref(--amplify-colors-font-primary, $amp-font-primary);
	@include css-var-ref(--amplify-components-fieldcontrol-color, --amplify-colors-font-primary);
	@include css-var-ref(--amplify-colors-font-secondary, $amp-font-secondary);
	@include css-var-ref(--amplify-colors-font-error, $amp-font-error);
	@include css-var-ref(--amplify-colors-font-warning, $amp-font-warning);
	@include css-var-ref(--amplify-colors-font-success, $amp-font-success);
	@include css-var-ref(--amplify-colors-font-info, $amp-font-info);

	@include css-var(--amplify-border-widths-small, $amp-border-width);

	[data-amplify-authenticator] {
		[data-amplify-container] {
			@extend #{class(card)};
	
			[data-amplify-router] {
				@extend #{class(content)};
				border: none;
			}
		}
	}
	
	[amplify-button] {
		@extend #{class(btn)};
		margin: auto;
	}
	
	.amplify-icon {
		display: block;
	}
}
