/// buttons.scss - Button styles
/// @author App Art Mint LLC
///
/// @group Buttons
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// All buttons
#{class(btn)},
#{class(btn-icon)},
#{class(pill)} {
	width: fit-content;
	max-width: 100%;
	text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	user-select: none;
    transition: color css-var(delay-default),
                background-color css-var(delay-default),
                border-color css-var(delay-default);
}

#{class(btn)},
#{class(btn-group)},
#{class(pill)} {
    display: inline-block;
    border-radius: $pill-radius;
    color: css-var($btn-fore);
    background: css-var($btn-back);
    border: $border-width solid css-var($btn-border);
    text-align: center;

    @include break(xs) {
        width: fit-content;
    }

    @include states(hover, focus, active) {
        color: css-var($btn-fore-hover);
        background: css-var($btn-border);

		i {
			color: inherit !important;
		}
    }

    &#{class(reverse)} {
		color: css-var($btn-fore-hover);
		background: css-var($btn-border);

		@include states(hover, focus, active) {
			color: css-var($btn-fore);
    		background: css-var($btn-back);
		}
	}

	&#{class(alt)} {
        color: css-var($btn-border);
        background: css-var($btn-back-alt);

        @include states(hover, focus, active) {
            color: css-var($btn-fore-alt-hover);
            background: css-var($btn-back-alt-hover);
            border-color: css-var($btn-back-alt-hover);
        }

		&#{class(reverse)} {
			color: css-var($btn-fore-alt-hover);
			background: css-var($btn-back-alt-hover);
			border-color: css-var($btn-back-alt-hover);

			@include states(hover, focus, active) {
				color: css-var($btn-border);
				background: css-var($btn-back-alt);
				border-color: css-var($btn-back-alt);
			}
		}
    }

	/// Fix for browsers injecting their own tel links
	a {
		color: inherit;
	
		&:hover {
			color: inherit;
		}
	
		i {
			display: none;
		}
	}
}

/// Default buttons
#{class(btn)} {
    padding: $btn-padding-v $btn-padding-h + $btn-padding-adjust;

	/// Icon buttons
	&-icon {
		display: block;
		text-align: center;

		@include states(hover, focus, active) {
			i {
				color: css-var($btn-back-alt-hover);
			}
		}

		@include break(xs) {
			display: inline-block;
		}

		i {
			margin: 0 !important;
			color: css-var($btn-border);
			font-size: 4rem;

			&::before {
				transition: color css-var(delay-default);
			}
		}
	}

	/// Button groups
	&-group {
		display: flex;
		padding: 0;
		transition: all css-var(delay-default);

		button {
			width: 100%;
			border: none;
			color: inherit;
			background: transparent;

			&:first-child {
				padding: $btn-padding-v 0 $btn-padding-v $btn-padding-h;
				border-top-left-radius: $pill-radius;
				border-bottom-left-radius: $pill-radius;
			}

			&:last-child {
				padding: $btn-padding-v $btn-padding-h $btn-padding-v 0;
				border-top-right-radius: $pill-radius;
				border-bottom-right-radius: $pill-radius;
			}

			&[disabled] {
				pointer-events: none;
			}

			@include states(hover, focus, active) {
				background: css-var(brand-5);
			}
		}
	}
}

/// Pill buttons
#{class(pill)} {
    padding: 0 $btn-padding-adjust;
    line-height: 2;
}

a, button {
	&#{class(pill)} {
		min-width: 5rem;
	}
}

p {
    #{class(pill)}, #{class(btn)} {
        line-height: 1.5rem;
        vertical-align: middle;
    }
}

/// A list of buttons
#{class(buttons)} {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	@include break(xs) {
		justify-content: flex-start;
	}

    & > * {
        width: 100%;

        #{class(btn)}, #{class(pill)} {
            display: block;
        }

        @include break(xs) {
            width: auto;
        }
    }

    #{class(buttons)} {
        #{class(pill)} {
            width: 100%;
        }
    }
}

#{class(grid)}#{class('3')},
#{class(grid)}#{class('4')} {
	#{class(buttons)} {
		& > * {
			@include break(xs) {
				width: 100%;
				margin: 0.5rem 0;
			}
		}
	}
}
