/// cards.scss - Card styles
/// @author App Art Mint LLC
///
/// @group Cards
@charset 'utf-8';

/// Imports
@use 'sass:math';
@use '../util' as *;

/// Card Styles
#{class(card)} {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 100%;
	margin: 0;
	border-radius: $card-radius;
	box-shadow: $card-shadow-size #{css-var($card-shadow-color)};
	overflow: hidden;

	@include break(sm) {
		flex-direction: row;

		&#{class(reverse)} {
			flex-direction: row-reverse;
		}
	}

	&#{class(center)} {
		
		@mixin title {
			#{class(title)} {
				justify-content: center;
				text-align: center;

				& > div {
					width: auto;
				}
			}
		}

		@mixin content {
			#{class(content)} {
				& > * {
					text-align: center;
				}
			}
		}

		@mixin buttons {
			#{class(buttons)} {
				justify-content: center;
			}
		}

		@include title;
		@include content;
		@include buttons;

		&-title {
			@include title;
		}

		&-content {
			@include content;
		}

		&-btns {
			@include buttons;
		}
	}

	&#{class(stagger)} {
		position: relative;
		width: 100%;

		@include break(sm) {
			flex-direction: row;
			border-radius: 0;
			box-shadow: none;
			overflow: visible;

			& > #{class(image)},
			& > mint-image #{class(image)} {
				width: calc(50% + $card-padding);
				height: fit-content;
				margin-right: $card-padding * -2;
				border-radius: $card-radius;
				box-shadow: $card-shadow-size #{css-var($card-shadow-color)};

				img {
					height: 100%;
					object-fit: cover;
				}
			}

			& > #{class(content)} {
				width: calc(50% + $card-padding);
				height: fit-content;
				margin-top: $card-padding * 2;
				border-radius: $card-radius;
				box-shadow: $card-shadow-size #{css-var($card-shadow-color)};
			}
		}

		&#{class(reverse)} {
			@include break(sm) {
				flex-direction: row-reverse;

				& > #{class(image)},
				& > mint-image #{class(image)} {
					margin-right: 0;
					margin-left: $card-padding * -2;
				}
			}
		}
	}

	& > #{class(image)}:only-child,
	& > mint-image:only-child #{class(image)} {
		width: 100%;
	}

	& > #{class(image)},
	& > mint-image #{class(image)} {
		overflow: hidden;

		@include break(sm) {
			width: 50%;
		}

		&+#{class(content)} {
			@include break(sm) {
				width: 50%;
			}
		}
	}

	#{class(content)} {
		display: flex;
		flex-direction: column;
		gap: math.div($grid-gap, 2);
		position: relative;
		padding: $card-padding;
		background: css-var($card-bg-color);
		width: 100%;
		overflow: hidden;

		& > * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	#{class(title)} {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: fit-content;
		gap: $card-padding;
		text-align: center;

		@include break(xs) {
			flex-direction: row;
			text-align: left;
		}

		&:only-child {
			height: 100%;
		}

		& > #{class(image)},
		& > mint-image #{class(image)} {
			width: 100%;
			height: 100%;
			max-width: $card-logo-size;
			max-height: $card-logo-size;

			&#{class(large)} {
				max-width: $card-logo-size * 2;
				max-height: $card-logo-size * 2;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: $card-logo-size;
			max-width: $card-logo-size;
			margin: 0;
			font-size: calc($card-logo-size - 1rem);
		}

		& > div {
			width: 100%;

			& > * {
				margin: 0;
			}
		}
	}

	#{class(date)} {
		text-align: center;

		@include break(xs) {
			text-align: left;
		}
	}
}

#{class(grid)}#{class('3')},
#{class(grid)}#{class('4')} {
	#{class(card)} {
		flex-direction: column !important;

		& > #{class(image)},
		& > mint-image #{class(image)} {
			overflow: hidden;

			@include break(sm) {
				width: 100%;
			}

			& + #{class(content)} {
				@include break(sm) {
					width: 100%;
				}
			}
		}

		#{class(content)} {
			height: 100%;
		}

		#{class(title)} {
			@include break(xs) {
				flex-direction: column;
			}
		}

		#{class(buttons)} {
			margin-top: auto;

			#{class(btn)} {
				width: 100%;
			}
		}
	}
}
