/// _header.scss - Header styles
/// @author App Art Mint LLC
///
/// @group Components
@charset 'utf-8';

/// Imports
@use 'sass:math';
@use '../util' as *;

/// CSS Variables
:root {
	@include css-var(header-height, $header-height);
	@include css-var-ref(header-back, $header-back);
	@include css-var-ref(header-fore, $header-fore);
}

/// Header Styles
#{id(header)} {
	position: relative;
	width: 100%;
	color: css-var(header-fore);
	background-color: css-var(header-back);
	z-index: 10000;
	height: css-var(header-height);
	//padding: 0 calc(css-var(header-height) / 2);

	&#{class(right)} {
		#{id(wrapper)} {
			top: css-var(header-height);
			right: -100%;
			left: unset;

			&#{class(open)} {
				right: 0;
			}
		}
	}

	&#{class(bottom)} {
		#{id(wrapper)} {
			top: unset;
			bottom: -100%;

			&#{class(open)} {
				top: unset;
				bottom: 0;
			}
		}
	}

	&#{class(left)} {
		#{id(wrapper)} {
			top: css-var(header-height);
			left: -100%;

			&#{class(open)} {
				left: 0;
			}
		}
	}

	&#{class(expand)} {
		@include break($header-break) {
			#{class(buttons)} {
				width: auto;

				#{controls(wrapper)} {
					display: none;
				}
			}

			#{id(wrapper)} {
				position: static;
				display: flex !important;
				height: 100%;
				padding: 0;
				z-index: 0;

				&,
				& nav {
					background: css-var(glow-0) !important;
					overflow: visible;
				}

				nav {
					border: none;

					&>ul {
						flex-direction: row;
						justify-content: flex-end;
						flex-wrap: nowrap;

						&>li {
							position: relative;
							width: 100%;
							max-width: 200px;
							text-align: center;

							button,
							ul {
								width: 100%;
								max-width: 200px;
							}

							button {
								font-size: 1.5rem;

								$arrow-size: 1rem;
								$arrow-margin: 1rem;
								padding-right: $arrow-margin + $arrow-size;

								&::after {
									content: '\f054';
									font-family: 'Font Awesome 6 Pro';
									font-weight: 900;
									font-size: $arrow-size;
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									margin-left: $arrow-margin;
									transition: transform css-var(delay-default);
								}

								@include states(hover, focus, expanded) {
									&::after {
										transform: translateY(-50%) rotate(90deg);
									}
								}
							}

							ul {
								position: absolute;
								top: 100%;
								left: 50%;
								transform: translateX(-50%);
								background-color: css-var($header-back);
							}
						}
					}
				}

				a {
					font-size: 1.25rem;
				}
			}
		}
	}

	&#{class(spread)} {
		@include break-max($header-break) {
			#{$has-controls + neg(controls(wrapper))} {
				display: none;
	
				& + ul {
					display: flex !important;
					height: auto !important;
					margin-bottom: 1rem !important;
				}
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: css-var(header-height);
		background: css-var(header-back);
		z-index: -1;
	}

	nav {
		&>ul {
			display: flex;
			flex-direction: column;
		}
	}

	ul {
		list-style: none;
		margin-top: 0;
		margin-bottom: 1rem;
		padding-left: 0;
	}

	a,
	button {
		width: 100%;
		margin: 0;
		border: 0;
		color: css-var($header-link-fore);
		background: css-var(trans);
		transition-property: color, background;
		transition-duration: css-var(delay-default);

		@include states(hover) {
			color: css-var($header-link-fore-hover);
		}
	}

	h1 {
		display: flex;
		white-space: nowrap;
		margin: 0;
	}

	#{id(navbar)} {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	#{class(logo)} {
		display: flex;
		width: auto;
		text-decoration: none;

		img {
			max-width: css-var(header-height);
		}
	}

	#{controls(wrapper)} {
		display: inline-block;
		position: relative;
		padding: $menu-btn-padding;
		width: $menu-bar-width + $menu-btn-padding * 2;
		height: $menu-btn-height + $menu-btn-padding * 2;
		border-radius: $border-radius;
		background: css-var($menu-btn-color);
		box-shadow: $menu-btn-shadow-size css-var($menu-btn-shadow-color);
		z-index: 1000;

		@include states(hover) {
			#{class(menu-icon)} {

				&,
				&::before,
				&::after {
					background-color: css-var($header-link-fore-hover);
				}
			}
		}

		#{class(menu-icon)} {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&,
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				height: $menu-bar-height;
				width: $menu-bar-width;
				background-color: css-var($menu-bar-color);
				transition: delay(default);
			}

			&::before {
				transform: translate(-50%, -200%);
			}

			&::after {
				transform: translate(-50%, 200%);
			}
		}

		&#{expanded(true)} {
			#{class(menu-icon)} {
				background: transparent;

				&::before {
					transform: translate(-50%, 0) rotate(45deg);
				}

				&::after {
					transform: translate(-50%, 0) rotate(-45deg);
				}
			}
		}
	}

	#{id(wrapper)} {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: calc(100vh - css-var(header-height));
		height: calc(100dvh - css-var(header-height));
		z-index: -2;
		background: css-var(header-back);
		transition-duration: css-var(delay-default);
		transition-property: top, right, bottom, left;
		overflow: auto;

		&#{class(open)} {
			top: css-var(header-height);
		}

		nav {
			height: 100%;
			background: css-var(back);
			overflow: auto;
			background-repeat: repeat;

			@include break(xl) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&> :last-child {
				margin-bottom: 0;
			}

			&>ul {
				@include break(xl) {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-evenly;
					width: 100%;
				}
			}
		}

		a,
		button {
			font-family: $font-secondary, $font-backups !important;
			font-size: 3em;
			padding: 0.5rem;
			text-align: center;

			@include break(xs) {
				font-size: 4em;
			}

			@include states(hover, focus) {
				background-color: css-var(shadow-5);
				color: css-var($header-link-fore-hover);
			}

			@include states(active) {
				text-decoration: underline;
			}
		}

		ul {
			li {
				&:last-child {
					margin-bottom: 0;

					ul {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	#{class(buttons)} {
		flex-wrap: nowrap;
		justify-content: flex-end;

		a,
		button {
			&#{neg(controls(wrapper))} {
				display: flex;
				width: auto;
				padding: 0.5rem;
			}
		}
	}

	#{class(dropdown)} {
		background: css-var(header-back);

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: css-var(header-height);
			height: css-var(header-height);
			padding: calc(css-var(header-height) / 2);
		}

		li {
			padding: calc(css-var(header-height) / 2);
			line-height: 1;
			cursor: pointer;
		}
	}

	#{$has-controls + neg(controls(wrapper))} {
		&+ul {
			display: flex;
			flex-direction: column;
			height: 0;
			overflow: hidden;
			transition: height css-var(delay-default), margin css-var(delay-default);
		}

		&#{$has-expanded + neg(expanded(true))} {
			&+ul {
				margin: 0;
			}
		}
	}
}