/// _landing.scss - Landing styles
/// @author App Art Mint LLC
///
/// @group Components
@charset 'utf-8';

/// Imports
@use 'sass:map';
@use '../util' as *;

/// Landing Styles
:root {
	#{class(landing)} {
		&.swiper {
			max-width: 100vw;

			.swiper-slide {
				padding: 0;
			}
		}
	}
}

#{class(landing)} {
	@include exit-padding;	

	#{class(video-bg)} {
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		min-height: calc(100vh - css-var(header-height));
		$padding-min-vw: map.get($break, $pad-min-vw) * 1px;
		$padding-max-vw: map.get($break, $pad-max-vw) * 1px;
		@include fluid(padding, $padding-min-vw, $padding-max-vw, $pad-min-size * 4, $pad-max-size * 4);
		
		iframe, video {
			position: absolute;

			& + * {
				#{class(grid)} {
					@include break(lg) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}