/// _video.scss - Video styles
/// @author App Art Mint LLC
///
/// @group Video
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Video Styles
#{class(video)} {
	&-bg {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		gap: 2rem;
		position: relative;

		@include break(lg) {
			flex-direction: row;
			min-height: calc(100vh - css-var(header-height));
			margin-bottom: 15%;
		}

		& > section {
			@include break(lg) {
				margin-bottom: -15%;
			}
		}

		iframe, video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;

			@include break(lg) {
				position: absolute;
				width: 100vw;
				border: none;
				padding: 0;
			}

			& + * {
				#{class(grid)} {
					@include break(lg) {
						margin-bottom: -15%;
					}
				}
			}
		}

		&#{class(overflow)} {
			overflow: hidden;
			margin-bottom: 0;

			& > section {
				@include break(lg) {
					margin-bottom: 0;
				}
			}

			iframe, video {
				top: -10%;
				left: -10%;
				width: 120%;
				height: 120%;
			}
		}
	}
}
